@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

* {
  font-family: Inconsolata, sans-serif;
}

/* @theme {
  --color-primary-1: #27374D;
  --color-primary-2: #526D82;
  --color-secondary-1: #9DB2BF;
  --color-secondary-2: #DDE6ED;
} */

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

html {
  scroll-behavior: smooth;
}


